body {
	font-family: Sour Gummy;
	
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.container {
	background-color: red;
	color: whitesmoke;
	font-family: Sour Gummy;
		}

.hero-image {
	margin-left: 30px;
	margin-right: 30px;
	padding: 5.5 px;
}

