body {
	font-family: Sour Gummy;
	
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.container {
	background-color: indianred;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 100px;
	margin-right: 100px;
	color: whitesmoke;
	font-family: Sour Gummy;
		}

.hero-image {
	background-color: white;
	color: black;
	padding: 30px 15px;
	margin: 15px;
}


.quarters {

}

.btn-secondary {
	background-color: lightpink;
	border-color: orangered;
	color: orangered;
	border-radius: 20px;
}

.btn-secondary:hover {
	background-color: rgb(139, 0, 0);
	color: lightyellow;
	border-color: rgb(225, 65, 65);
}
