body {
	font-family: Sour Gummy;
	
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.container {
	background-color: red;
	color: whitesmoke;
	font-family: Sour Gummy;
		}

.navbar-collapse {
}

